* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: system-ui;
    font-size: 10px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #444;
    text-transform: uppercase;
    font-size: 6.4rem;
    font-weight: 800;
}

p {
    color: #cccccc;
    font-size: 1.6rem;
}