$primary-color: #2F80ED;

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.wrapper {
    width: 80%;
    max-width: 1040px;
    margin: 0 auto;
}

nav {
    display: inline;
}

header {
    .wrapper {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul {
        display: inline;
        list-style-type: none;
    
        li {
            display: inline-block;
            margin-right: 80px;

            a {
                color: #000;
                font-size: 1.4rem;
                font-weight: 700;
                text-decoration: none;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

#links {
    display: inline;
    margin-left: auto;
}

.icon {
    height: 24px;
    margin-left: 40px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
}

.bold {
    color: $primary-color;
    font-weight: 700;
}

h1 {
    font-size: 6.4rem;
    font-weight: 600;
}

h2 {
    margin-top: 45px;
    font-size: 3.2rem;
    font-weight: 600;
    text-align: right;
}

@media screen and (max-width: 1000px) {
    header {
        .wrapper {
            height: unset;
            flex-direction: column-reverse;
        }

        ul {
            li {
                display: block;
                text-align: center;
                margin-bottom: 20px;
                margin-right: 0;
            }
        }
    }

    #links {
        margin: 20px 0 40px 0;
        margin-left: 0;
    }

    .icon {
        margin-left: 0;
    }

    h1 {
        font-size: 3.6rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}