$bg-color: #fff;
$primary-color: #444;
$secondary-color: #ccc;

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: system-ui;
    font-size: 10px;
}

body {
    color: $bg-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: $primary-color;
    text-align: center;
    text-transform: uppercase;
    font-size: 6.4rem;
    font-weight: 800;
}

p {
    color: $secondary-color;
    font-size: 1.6rem;
}

#copyright {
    position: absolute;
    bottom: 20px;

    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 7.5px;
    }
}